.nouppermargin {
	margin-top: 0px;
}

.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto }

.bio {
	margin-top: 5px;
	font-size: 13px;
	color: gray;
}

.makefornsmaller {
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: top;
	min-height: 0px;
}

.toppad {
	padding-top: 15px;
}

.flt {
	float: right !important;

}

.langbar {
	background-color: #1C1C1C;
}

.logo-image {
	margin-top: 15px;
}

.lang-text {
	font-weight: bold;
	color: white;
	text-align: right;
	padding-right: 12px;
	padding-top: 4px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}


.rotatetxt {
	display: inline-flex;
  
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}