{% extends 'base_2_ar.html' %}
{% load staticfiles %}

{% block body %}

<div class='container'>


	<div class='row'>
		<div class='col-sm-6'>
			<h1 class='courseh2'>About us</h1>
			<p>K. O. T. Inc. for training and educational and administrative consultations is a private company headquartered in Kuwait, with a branch in the United States. It provides services in the field of human development (training and consultations). It launches from a clear strategy according to the following:</p>
 
			<h3 class='courseh2'>Vision</h3>
			<p>Pioneering and achieving excellence in training and developing by applying the latest scientific theories and technological discoveries at all levels.</p>

			<h3 class='courseh2'>The Mission</h3>
   			<p>To provide innovative and a distinct training and consultation services for human development to the school principals and teachers and to all segments of the society through the efforts of professional trainers and sophisticated programs for effective leadership and a developed society with an advanced education.</p>
		</div>
		<div class='col-sm-6'>
			<h3 class='courseh2'>Our Team</h3>
			
   			<img src='{% static "images/aboutus/taleb.jpeg" %}' class="img-responsive img-circle align-center">
   			<h4>Dr. Mohammad Taleb Alkandari</h4>
   			<p class='bio'>Associate Professor
Chairman of Board of Director
- Doctor of Philosophy, Syracuse University
- Master of Science, Syracuse University
- Bachelor of Education, Kuwait
- Diploma of Education, Kuwait</p>



   			
   			<img src='{% static "images/aboutus/rick.jpeg" %}' class="img-responsive align-center img-circle">
   			<h4>Rick Beal</h4>
   			<p class='bio'>Consulting Services for Educational and Not-for-Profit Management; STEM Instructional Design,
 Development, and Evaluation; Distance Learning; Technology Transfer. Operate in the US and
 Internationally.</p>



<img src='{% static "images/aboutus/abdulelah.jpeg" %}' class="img-responsive align-center img-circle">
   			<h4>Abdulilah Al-Dubai</h4>
   			<p class='bio'>Teacher at PSLA/Fowler high school at Syracuse City School District, Syracuse New York.  
September, 2014 – present
Cofounder and assistant director of the North Side Learning Center, Syracuse New York
October, 2007 – present
* Winner of racial justice award in 2014, Syracuse New York</p>






<img src='{% static "images/aboutus/yousef.jpeg" %}' class="img-responsive align-center img-circle">
   			<h4>Yousef Al-Zowayed</h4>
   			<p class='bio'>Founder and secretary of the former Kuwaiti Society for parents Of  disabled / Member and Director of the committees of ALreyadah Center and director of scientific leadership positions at  Kuwaiti teacher Assosiation / member of the Gulf Disability Society / recipient of several internal and external certifications in the field of disability and special needs / expertise domain of education 31 years.</p>






<img src='{% static "images/aboutus/abdulaziz.jpeg" %}' class="img-responsive align-center img-circle">
   			<h4>Abdulaziz Al-Kandari</h4>
   			<p class='bio'>PhD Candidate - University Of Salford, UK-Information System


Master of Science-Information Management-Information Studies School-Syracuse University.</p>





		</div>
	</div>
</div>



{% endblock %}