{% extends 'base2.html' %}
{% load staticfiles %}

{% block body %}

<div class='container'>


	<div class='row'>
		<div class='col-sm-6'>
			<h1 class='courseh2'>ABOUT KOT</h1>
			<p>Kot for Training and Consultation is a private institute headquartered in Kuwait.  It provides high quality services in the field of human development (Training, leadership and consultation).</p>
      </br>
 
			<h3 class='courseh2'>VISION</h3>
			<p>Pioneering and achieving excellence in training and development at the national and international levels.</p>
      </br>

			<h3 class='courseh2'>THE MISSION</h3>
   		     	<p>Our mission is to provide pioneer and excellent services in training, consultation and development for all sections of society.</p>
            </br>
		     
      <h3 class='courseh2'>OUR VALUES</h3>
            <p>Excellence—Partnership—Creativity—High Quality</p>
            </br>
      
      <h3 class='courseh2'>OUR SPECIALITIES</h3>

        
        <h4>-Leadership Development and Public Speaking:</h4>
            <p>    Building superior skills of effective public speaking, leadership and communication to excel in any work community.</p>
          
          </br>
       
        <h4>-Consultation</h4>
            <p>    Providing effective consultation services in all walks of life.</p>
           
            </br>

       
        <h4>-Academic Achievement</h4>
            <p>    Developing core competence necessary for outstanding academic achievement.</p>
            
            </br>
            </br>
                  
      </div>
		
    <div class='col-sm-6'>

    <h3 class='courseh2 align-center'>KOT Executive and Home Office staff</h3>

    <img src='{% static "images/aboutus/taleb.jpeg" %}' class="img-responsive img-circle align-center"> </div>
    
  <h4>Dr. Mohammad Taleb Al-kandari</h4>
        <p class='bio'>Dr. Mohammad Al-Kandari is charman of K.O.T Board of directors.  He received his PhD in Education from and his MA degree in Science Syracuse University, NY, USA.  He is an associate professor of education in the Dept. of Educational Foundation, College of Basic Education in the Public Authority for Applied Education and Training.  For several years, he was an active member of Teachers' Association in PAAET.  Over the last three years, Dr. Al-Kandari has also served Head of the Debate Coaching Team in PAAET, competing in Kuwait Debate National Tournament for Higher Educational Institutions.  The team has risen to glory and won the national championship in 2016.  Dr. Al-Kandari also led the team which founded PAAET's Debate Center.</p>

   	
    <img src='{% static "images/aboutus/yousef.jpeg" %}' class="img-responsive align-center img-circle">
        <h4>Yousef Al-Zowayed</h4>
        <p class='bio'>For 31 years, Mr. Al-Zowayed served as a teacher in the public schools of Kuwait.  He is also one of the founder and former secretary of Kuwait Society for Parents of the Disabled, an active member director of Al-Riyadah Centerand, director of Leadership at Kuwait Teachers' Association.  Mr. Al-Zowayed is also member of the Gulf Disability Society.  In recognition of his life-long efforts in the field of disability and special needs, he received several certificates inside and outside Kuwait. </p>


<img src='{% static "images/aboutus/abdulaziz.jpeg" %}' class="img-responsive align-center img-circle">
   			<h4>Dr. Abdulaziz Al-kandari</h4>
   			<p class='bio'>Dr. Al-Kandari holds a PhD in Information System and Technology from the University of Salford, UK and an MSc in Information Management from Syracuse University, NY, USA. During his doctoral years, he served as member in the Think Lab, where he conducted extensive research on technology-enhanced learning.</p>


		</div>
    <div></div>

	</div> <!-- close row -->
</div>   <!-- close container -->



{% endblock %}