{% extends 'base2.html' %}

{% block head %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/south-street/jquery-ui.css" id="theme">
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
{% endblock %}

{% block body %}


		<!-- The dialog widget -->
		<div id="blueimp-gallery-dialog" data-show="fade" data-hide="fade">
		<!-- The gallery widget  -->
		    <div class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
		        <div class="slides"></div>
		        <a class="prev">‹</a>
		        <a class="next">›</a>
		        <a class="play-pause"></a>
		    </div>
		</div>

		<div class='container'>
			<div class='row padtop'>
				<div class="col-sm-12">
					<div id="links">
					{% for image in image_list %}
					    <a href="{{image.image.url}}" title="{{image.title_eng}}" data-dialog>
					        <img src="{{image.image.url}}" alt="Banana" height='160px'>
					    </a>
					{% endfor %}
					</div>
				</div>
			</div>	
		</div>


{% endblock %}


{% block buttom %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
{% endblock %}